<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create Connection</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='/navButtons.css'>
    <link rel='stylesheet' href='/newConnection.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div id="container">
        <%- include('../partials/header.ejs')%>
        <%- include('../partials/message.ejs') %>
        <div class="wrap">
            <form action="/connections/" method="POST">
                <label for="connectionName">Title</label>
                <input type="text" id="connectionName" name="connectionName" required><br><br>
                <label for="dateTime">Date</label>
                <input type="date" min="2020-12-19" id="dateTime" name="dateTime" required><br><br>
                <label for="startTime">Start Time</label>
                <input type="time" id="startTime" name="startTime" required><br><br>
                <label for="endTime">End Time</label>
                <input type="time" id="endTime" name="endTime" required><br><br>
                <label for="location">Location</label>
                <input type="text" id="location" name="location" required><br><br>
                <label for="connectionTopic">Category</label>
                <!-- <select id="connectionTopic" class="connectionTopic" name="connectionTopic"> -->
                <input list="topic" id="connectionTopic" class="connectionTopic" name="connectionTopic">
                    <datalist id="topic">
                    <%   conTopics.forEach(topic =>{%>
                    <option value="<%=topic%>"><%=topic%></option>
                    <%})%>
                    </datalist><br><br>
                <!-- </select><br><br> -->
                <label for="details">Details</label>
                <textarea id="details" name="details" rows="4" cols="50"></textarea><br>
                <label for="hostName">Host Name</label>
                <input type="text" id="hostName" name="hostName"><br>
                <label for="image">Image</label>
                <input type="text" id="image" name="image"><br><br>
                <button class="btn" type="submit">Submit</button><br>
            </form>
        </div>
        <%- include('../partials/footer.ejs')%>

    </div>
    <script>var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
         if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 
        
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("dateTime").setAttribute("min", today);
        var startTime = document.getElementById("startTime");
        startTime.addEventListener("input", function () {
        document.getElementById("endTime").setAttribute("min", startTime.value);
        }, false);</script>
</body>



</html>